@tailwind base;
@tailwind components;
@tailwind utilities;

.wediiz-body {
    display: flex;
    background-color: #f2d7c0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.dark .wediiz-body {
    display: flex;
    background-color: #465b78;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

button.rsvp {
    background-color: #de9c62;
}

.dark button.rsvp {
    background-color: #DE6262;
}

/*span {*/
/*    color: #de9c62;*/
/*}*/

.dark span {
    color: #DE6262;
}

.text-color {
    color: #465b78;
}

.dark .text-color {
    color: #ffffff;
}

.color {
    color: #de9c62;
}

.dark .color {
    color: #DE6262;
}

.dark-mode {
    background-color: #173f5f;
    color: #fff;
}


.light-logo {
    filter: brightness(2);
}
