@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webfont: Ramadanish-Regular */@font-face {
    font-family: 'Ramadanish';
    src: url('Ramadanish.eot'); /* IE9 Compat Modes */
    src: url('Ramadanish.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Ramadanish.woff') format('woff'), /* Modern Browsers */
         url('Ramadanish.woff2') format('woff2'), /* Modern Browsers */
         url('Ramadanish.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.bg {
    background: radial-gradient(circle, rgba(40,160,136,1) 0%, rgba(29,72,73,1) 100%);
}

.bgd {
    background: radial-gradient(circle, rgba(28,90,116,1) 0%, rgba(14,55,71,1) 100%);
}
