@font-face {
font-family: 'prayer';
src: url("../assets/fonts/prayer.ttf") format("truetype"),
url("../assets/fonts/prayer.eot") format("embedded-opentype"),
url("../assets/fonts/prayer.woff") format("woff");
}
.pr {
    font-family: 'prayer' !important;
    font-size: 18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pr-grammerly:before { content: "\ea01"; }
.pr-speedometer:before { content: "\ea02"; }
.pr-diamonds:before { content: "\ea03"; }
.pr-judge:before { content: "\ea04"; }
.pr-level:before { content: "\ea05"; }
.pr-lamp-2:before { content: "\ea06"; }
.pr-tree:before { content: "\ea07"; }
.pr-bubble:before { content: "\ea08"; }
.pr-tag-right:before { content: "\ea09"; }
.pr-milk:before { content: "\ea0a"; }
.pr-ghost:before { content: "\ea0b"; }
.pr-mouse-square:before { content: "\ea0c"; }
.pr-mouse-circle:before { content: "\ea0d"; }
.pr-forbidden:before { content: "\ea0e"; }
.pr-mouse-2:before { content: "\ea0f"; }
.pr-ranking-2:before { content: "\ea10"; }
.pr-filter-remove:before { content: "\ea11"; }
.pr-broom:before { content: "\ea12"; }
.pr-forbidden-2:before { content: "\ea13"; }
.pr-signpost:before { content: "\ea14"; }
.pr-home:before { content: "\ea15"; }
.pr-filter-edit:before { content: "\ea16"; }
.pr-smart-home:before { content: "\ea17"; }
.pr-filter-search:before { content: "\ea18"; }
.pr-filter-add:before { content: "\ea19"; }
.pr-filter-tick:before { content: "\ea1a"; }
.pr-mirror:before { content: "\ea1b"; }
.pr-home-wifi:before { content: "\ea1c"; }
.pr-safe-home:before { content: "\ea1d"; }
.pr-status:before { content: "\ea1e"; }
.pr-slider:before { content: "\ea1f"; }
.pr-wifi:before { content: "\ea20"; }
.pr-wifi-square:before { content: "\ea21"; }
.pr-trush-square:before { content: "\ea22"; }
.pr-warning-2:before { content: "\ea23"; }
.pr-cd:before { content: "\ea24"; }
.pr-story:before { content: "\ea25"; }
.pr-bluetooth-circle:before { content: "\ea26"; }
.pr-bluetooth:before { content: "\ea27"; }
.pr-cloud-change:before { content: "\ea28"; }
.pr-monitor-recorder:before { content: "\ea29"; }
.pr-speaker:before { content: "\ea2a"; }
.pr-driver:before { content: "\ea2b"; }
.pr-driver-refresh:before { content: "\ea2c"; }
.pr-driver-2:before { content: "\ea2d"; }
.pr-cloud-add:before { content: "\ea2e"; }
.pr-cloud-connection:before { content: "\ea2f"; }
.pr-external-drive:before { content: "\ea30"; }
.pr-keyboard-open:before { content: "\ea31"; }
.pr-music-play:before { content: "\ea32"; }
.pr-gameboy:before { content: "\ea33"; }
.pr-watch:before { content: "\ea34"; }
.pr-devices-2:before { content: "\ea35"; }
.pr-bluetooth-2:before { content: "\ea36"; }
.pr-bluetooth-rectangle:before { content: "\ea37"; }
.pr-watch-status:before { content: "\ea38"; }
.pr-airpods:before { content: "\ea39"; }
.pr-headphones:before { content: "\ea3a"; }
.pr-mobile:before { content: "\ea3b"; }
.pr-airdrop:before { content: "\ea3c"; }
.pr-microscope:before { content: "\ea3d"; }
.pr-cloud-remove:before { content: "\ea3e"; }
.pr-folder-connection:before { content: "\ea3f"; }
.pr-simcard:before { content: "\ea40"; }
.pr-electricity:before { content: "\ea41"; }
.pr-mirroring-screen:before { content: "\ea42"; }
.pr-card-coin:before { content: "\ea43"; }
.pr-bitcoin-card:before { content: "\ea44"; }
.pr-trade:before { content: "\ea45"; }
.pr-buy-crypto:before { content: "\ea46"; }
.pr-bitcoin-convert:before { content: "\ea47"; }
.pr-bitcoin-refresh:before { content: "\ea48"; }
.pr-security-time:before { content: "\ea49"; }
.pr-calendar-search:before { content: "\ea4a"; }
.pr-calendar-tick:before { content: "\ea4b"; }
.pr-calendar-add:before { content: "\ea4c"; }
.pr-calendar-3:before { content: "\ea4d"; }
.pr-calendar-edit:before { content: "\ea4e"; }
.pr-calendar-remove:before { content: "\ea4f"; }
.pr-calendar:before { content: "\ea50"; }
.pr-calendar-circle:before { content: "\ea51"; }
.pr-save-add:before { content: "\ea52"; }
.pr-receipt-square:before { content: "\ea53"; }
.pr-book-square:before { content: "\ea54"; }
.pr-save-2:before { content: "\ea55"; }
.pr-book-saved:before { content: "\ea56"; }
.pr-save-remove:before { content: "\ea57"; }
.pr-save-minus:before { content: "\ea58"; }
.pr-grid-lock:before { content: "\ea59"; }
.pr-grid-edit:before { content: "\ea5a"; }
.pr-grid-eraser:before { content: "\ea5b"; }
.pr-truck:before { content: "\ea5c"; }
.pr-truck-fast:before { content: "\ea5d"; }
.pr-icon-9865:before { content: "\ea5e"; }
.pr-icon-984654:before { content: "\ea5f"; }
.pr-3d-rotate:before { content: "\ea60"; }
.pr-convert-3d-cube:before { content: "\ea61"; }
.pr-box-add:before { content: "\ea62"; }
.pr-3d-cube-scan:before { content: "\ea63"; }
.pr-box-tick:before { content: "\ea64"; }
.pr-box-time:before { content: "\ea65"; }
.pr-box-search:before { content: "\ea66"; }
.pr-box-remove:before { content: "\ea67"; }
.pr-3d-square:before { content: "\ea68"; }
.pr-box:before { content: "\ea69"; }
.pr-truck-tick:before { content: "\ea6a"; }
.pr-heart-slash:before { content: "\ea6b"; }
.pr-heart-edit:before { content: "\ea6c"; }
.pr-smileys:before { content: "\ea6d"; }
.pr-heart-remove:before { content: "\ea6e"; }
.pr-message-question:before { content: "\ea6f"; }
.pr-heart-circle:before { content: "\ea70"; }
.pr-star:before { content: "\ea71"; }
.pr-magic-star:before { content: "\ea72"; }
.pr-heart-search:before { content: "\ea73"; }
.pr-ranking:before { content: "\ea74"; }
.pr-heart-tick:before { content: "\ea75"; }
.pr-medal:before { content: "\ea76"; }
.pr-lovely:before { content: "\ea77"; }
.pr-like:before { content: "\ea78"; }
.pr-like-dislike:before { content: "\ea79"; }
.pr-unlimited:before { content: "\ea7a"; }
.pr-like-shapes:before { content: "\ea7b"; }
.pr-heart-add:before { content: "\ea7c"; }
.pr-24-support:before { content: "\ea7d"; }
.pr-like-tag:before { content: "\ea7e"; }
.pr-medal-star:before { content: "\ea7f"; }
.pr-message-search:before { content: "\ea80"; }
.pr-device-message:before { content: "\ea81"; }
.pr-messages:before { content: "\ea82"; }
.pr-messages-2:before { content: "\ea83"; }
.pr-messages-3:before { content: "\ea84"; }
.pr-sms:before { content: "\ea85"; }
.pr-sms-tracking:before { content: "\ea86"; }
.pr-sms-notification:before { content: "\ea87"; }
.pr-sms-edit:before { content: "\ea88"; }
.pr-sms-star:before { content: "\ea89"; }
.pr-sms-search:before { content: "\ea8a"; }
.pr-message-tick:before { content: "\ea8b"; }
.pr-message-circle:before { content: "\ea8c"; }
.pr-message-square:before { content: "\ea8d"; }
.pr-message-text-45:before { content: "\ea8e"; }
.pr-message-edit-98:before { content: "\ea8f"; }
.pr-message-remove:before { content: "\ea90"; }
.pr-message-2:before { content: "\ea91"; }
.pr-message-time:before { content: "\ea92"; }
.pr-messages-354:before { content: "\ea93"; }
.pr-message-add:before { content: "\ea94"; }
.pr-message-minus:before { content: "\ea95"; }
.pr-message-add-78:before { content: "\ea96"; }
.pr-received:before { content: "\ea97"; }
.pr-arrange-circle:before { content: "\ea98"; }
.pr-arrange-circle-2:before { content: "\ea99"; }
.pr-repeat:before { content: "\ea9a"; }
.pr-repeat-circle:before { content: "\ea9b"; }
.pr-send-square:before { content: "\ea9c"; }
.pr-receive-square:before { content: "\ea9d"; }
.pr-send:before { content: "\ea9e"; }
.pr-forward-square:before { content: "\ea9f"; }
.pr-arrow-3:before { content: "\eaa0"; }
.pr-arrow-2:before { content: "\eaa1"; }
.pr-arrange-square:before { content: "\eaa2"; }
.pr-refresh-right-square:before { content: "\eaa3"; }
.pr-back-square:before { content: "\eaa4"; }
.pr-refresh-circle:before { content: "\eaa5"; }
.pr-arrange-square-2:before { content: "\eaa6"; }
.pr-send-sqaure-2:before { content: "\eaa7"; }
.pr-receive-square-2:before { content: "\eaa8"; }
.pr-refresh-left-square:before { content: "\eaa9"; }
.pr-refresh-square-2:before { content: "\eaaa"; }
.pr-folder-open:before { content: "\eaab"; }
.pr-folder-cloud:before { content: "\eaac"; }
.pr-shopping-cart:before { content: "\eaad"; }
.pr-shopping-bag:before { content: "\eaae"; }
.pr-shop-remove:before { content: "\eaaf"; }
.pr-barcode:before { content: "\eab0"; }
.pr-candle:before { content: "\eab1"; }
.pr-candle-2:before { content: "\eab2"; }
.pr-menu:before { content: "\eab3"; }
.pr-settings:before { content: "\eab4"; }
.pr-backward:before { content: "\eab5"; }
.pr-scissor:before { content: "\eab6"; }
.pr-forward:before { content: "\eab7"; }
.pr-previous:before { content: "\eab8"; }
.pr-next:before { content: "\eab9"; }
.pr-music-dashboard:before { content: "\eaba"; }
.pr-music-square-add:before { content: "\eabb"; }
.pr-music-square-search:before { content: "\eabc"; }
.pr-maximize-circle:before { content: "\eabd"; }
.pr-audio-square:before { content: "\eabe"; }
.pr-forward-15-seconds:before { content: "\eabf"; }
.pr-video-time:before { content: "\eac0"; }
.pr-music-playlist:before { content: "\eac1"; }
.pr-music-library-2:before { content: "\eac2"; }
.pr-video-add:before { content: "\eac3"; }
.pr-video-tick:before { content: "\eac4"; }
.pr-voice-cricle:before { content: "\eac5"; }
.pr-backward-15-seconds:before { content: "\eac6"; }
.pr-video-remove:before { content: "\eac7"; }
.pr-music-square-remove:before { content: "\eac8"; }
.pr-forward-10-seconds:before { content: "\eac9"; }
.pr-voice-square:before { content: "\eaca"; }
.pr-video-octagon:before { content: "\eacb"; }
.pr-repeate-music:before { content: "\eacc"; }
.pr-repeate-one:before { content: "\eacd"; }
.pr-forward-5-seconds:before { content: "\eace"; }
.pr-shuffle:before { content: "\eacf"; }
.pr-music-square:before { content: "\ead0"; }
.pr-devices:before { content: "\ead1"; }
.pr-note-square:before { content: "\ead2"; }
.pr-mini-music-sqaure:before { content: "\ead3"; }
.pr-play-cricle:before { content: "\ead4"; }
.pr-radio:before { content: "\ead5"; }
.pr-play-remove:before { content: "\ead6"; }
.pr-music-circle:before { content: "\ead7"; }
.pr-backward-10-seconds:before { content: "\ead8"; }
.pr-backward-5-seconds:before { content: "\ead9"; }
.pr-play-add:before { content: "\eada"; }
.pr-music-filter:before { content: "\eadb"; }
.pr-buildings:before { content: "\eadc"; }
.pr-buildings-2:before { content: "\eadd"; }
.pr-building-4:before { content: "\eade"; }
.pr-house:before { content: "\eadf"; }
.pr-bank:before { content: "\eae0"; }
.pr-house-2:before { content: "\eae1"; }
.pr-buliding:before { content: "\eae2"; }
.pr-hospital:before { content: "\eae3"; }
.pr-courthouse:before { content: "\eae4"; }
.pr-building-3:before { content: "\eae5"; }
.pr-shapes:before { content: "\eae6"; }
.pr-pen-add:before { content: "\eae7"; }
.pr-bucket-square:before { content: "\eae8"; }
.pr-omega-square:before { content: "\eae9"; }
.pr-flash-circle:before { content: "\eaea"; }
.pr-eraser-31:before { content: "\eaeb"; }
.pr-mask-4asd654:before { content: "\eaec"; }
.pr-colors-square:before { content: "\eaed"; }
.pr-mask-987654:before { content: "\eaee"; }
.pr-blur:before { content: "\eaef"; }
.pr-brush-asdad:before { content: "\eaf0"; }
.pr-main-component:before { content: "\eaf1"; }
.pr-colorfilter:before { content: "\eaf2"; }
.pr-backward-item:before { content: "\eaf3"; }
.pr-component:before { content: "\eaf4"; }
.pr-forward-item:before { content: "\eaf5"; }
.pr-mask-654654:before { content: "\eaf6"; }
.pr-pen-tool-2:before { content: "\eaf7"; }
.pr-omega-circle:before { content: "\eaf8"; }
.pr-bucket-circle:before { content: "\eaf9"; }
.pr-bezier:before { content: "\eafa"; }
.pr-pen-remove:before { content: "\eafb"; }
.pr-pen-close:before { content: "\eafc"; }
.pr-maximize:before { content: "\eafd"; }
.pr-eraser:before { content: "\eafe"; }
.pr-attach-square:before { content: "\eaff"; }
.pr-attach-circle:before { content: "\eb00"; }
.pr-quote-up-square:before { content: "\eb01"; }
.pr-quote-down:before { content: "\eb02"; }
.pr-quote-down-square:before { content: "\eb03"; }
.pr-quote-down-circle:before { content: "\eb04"; }
.pr-quote-up:before { content: "\eb05"; }
.pr-link-987:before { content: "\eb06"; }
.pr-link-circle:before { content: "\eb07"; }
.pr-link-square:before { content: "\eb08"; }
.pr-translate:before { content: "\eb09"; }
.pr-language-square:before { content: "\eb0a"; }
.pr-quote-up-circle:before { content: "\eb0b"; }
.pr-language-circle:before { content: "\eb0c"; }
.pr-data:before { content: "\eb0d"; }
.pr-hierarchy:before { content: "\eb0e"; }
.pr-command-square:before { content: "\eb0f"; }
.pr-programming-arrow:before { content: "\eb10"; }
.pr-hierarchy-2:before { content: "\eb11"; }
.pr-hierarchy-square-2:before { content: "\eb12"; }
.pr-command:before { content: "\eb13"; }
.pr-message-programming:before { content: "\eb14"; }
.pr-hierarchy-square-3:before { content: "\eb15"; }
.pr-hierarchy-3:before { content: "\eb16"; }
.pr-document-code-2:before { content: "\eb17"; }
.pr-mobile-programming:before { content: "\eb18"; }
.pr-programming-arrows:before { content: "\eb19"; }
.pr-data-2:before { content: "\eb1a"; }
.pr-document-code:before { content: "\eb1b"; }
.pr-hierarchy-square:before { content: "\eb1c"; }
.pr-code-circle:before { content: "\eb1d"; }
.pr-ship:before { content: "\eb1e"; }
.pr-driving:before { content: "\eb1f"; }
.pr-gas-station:before { content: "\eb20"; }
.pr-bus:before { content: "\eb21"; }
.pr-smart-car:before { content: "\eb22"; }
.pr-finger-scan:before { content: "\eb23"; }
.pr-scanner:before { content: "\eb24"; }
.pr-security:before { content: "\eb25"; }
.pr-security-user:before { content: "\eb26"; }
.pr-alarm:before { content: "\eb27"; }
.pr-lock:before { content: "\eb28"; }
.pr-finger-cricle:before { content: "\eb29"; }
.pr-lock-circle:before { content: "\eb2a"; }
.pr-radar-4523:before { content: "\eb2b"; }
.pr-security-safe:before { content: "\eb2c"; }
.pr-wallet-remove:before { content: "\eb2d"; }
.pr-receipt-text:before { content: "\eb2e"; }
.pr-moneys:before { content: "\eb2f"; }
.pr-empty-wallet:before { content: "\eb30"; }
.pr-transaction-minus:before { content: "\eb31"; }
.pr-discount-circle:before { content: "\eb32"; }
.pr-money-remove:before { content: "\eb33"; }
.pr-money:before { content: "\eb34"; }
.pr-empty-wallet-tick:before { content: "\eb35"; }
.pr-percentage-circle:before { content: "\eb36"; }
.pr-receipt-discount:before { content: "\eb37"; }
.pr-strongbox-2:before { content: "\eb38"; }
.pr-money-time:before { content: "\eb39"; }
.pr-empty-wallet-add:before { content: "\eb3a"; }
.pr-receipt:before { content: "\eb3b"; }
.pr-card-remove:before { content: "\eb3c"; }
.pr-money-tick:before { content: "\eb3d"; }
.pr-money-forbidden:before { content: "\eb3e"; }
.pr-wallet-2:before { content: "\eb3f"; }
.pr-receipt-search:before { content: "\eb40"; }
.pr-money-4:before { content: "\eb41"; }
.pr-receipt-item:before { content: "\eb42"; }
.pr-percentage-square:before { content: "\eb43"; }
.pr-coin:before { content: "\eb44"; }
.pr-discount-shape:before { content: "\eb45"; }
.pr-empty-wallet-change:before { content: "\eb46"; }
.pr-wallet-add:before { content: "\eb47"; }
.pr-empty-wallet-time:before { content: "\eb48"; }
.pr-empty-wallet-remove:before { content: "\eb49"; }
.pr-money-change:before { content: "\eb4a"; }
.pr-money-add:before { content: "\eb4b"; }
.pr-money-3:before { content: "\eb4c"; }
.pr-wallet-check:before { content: "\eb4d"; }
.pr-convert-card:before { content: "\eb4e"; }
.pr-wallet-search:before { content: "\eb4f"; }
.pr-money-2:before { content: "\eb50"; }
.pr-receipt-2:before { content: "\eb51"; }
.pr-wallet:before { content: "\eb52"; }
.pr-money-recive:before { content: "\eb53"; }
.pr-wallet-3:before { content: "\eb54"; }
.pr-money-send:before { content: "\eb55"; }
.pr-security-card:before { content: "\eb56"; }
.pr-strongbox:before { content: "\eb57"; }
.pr-wallet-money:before { content: "\eb58"; }
.pr-cards:before { content: "\eb59"; }
.pr-receipt-edit:before { content: "\eb5a"; }
.pr-receipt-add:before { content: "\eb5b"; }
.pr-chart-square:before { content: "\eb5c"; }
.pr-receipt-minus:before { content: "\eb5d"; }
.pr-card-tick:before { content: "\eb5e"; }
.pr-archive:before { content: "\eb5f"; }
.pr-gemini:before { content: "\eb60"; }
.pr-gemini-2:before { content: "\eb61"; }
.pr-aquarius:before { content: "\eb62"; }
.pr-sagittarius:before { content: "\eb63"; }
.pr-user-octagon:before { content: "\eb64"; }
.pr-user-cirlce-add:before { content: "\eb65"; }
.pr-user-square:before { content: "\eb66"; }
.pr-user:before { content: "\eb67"; }
.pr-user-add:before { content: "\eb68"; }
.pr-user-remove:before { content: "\eb69"; }
.pr-user-tick:before { content: "\eb6a"; }
.pr-user-minus:before { content: "\eb6b"; }
.pr-people:before { content: "\eb6c"; }
.pr-tag-user:before { content: "\eb6d"; }
.pr-user-tag:before { content: "\eb6e"; }
.pr-user-edit:before { content: "\eb6f"; }
.pr-user-search:before { content: "\eb70"; }
.pr-chart-5:before { content: "\eb71"; }
.pr-presention-chart:before { content: "\eb72"; }
.pr-diagram:before { content: "\eb73"; }
.pr-note-favorite:before { content: "\eb74"; }
.pr-menu-board:before { content: "\eb75"; }
.pr-document-cloud:before { content: "\eb76"; }
.pr-bill:before { content: "\eb77"; }
.pr-document-filter:before { content: "\eb78"; }
.pr-archive-book:before { content: "\eb79"; }
.pr-note-text:before { content: "\eb7a"; }
.pr-copyright:before { content: "\eb7b"; }
.pr-creative-commons:before { content: "\eb7c"; }
.pr-drop:before { content: "\eb7d"; }
.pr-wind:before { content: "\eb7e"; }
.pr-sun:before { content: "\eb7f"; }
.pr-sun-fog:before { content: "\eb80"; }
.pr-wind-2:before { content: "\eb81"; }
.pr-cloud-fog:before { content: "\eb82"; }
.pr-flash:before { content: "\eb83"; }
.pr-map:before { content: "\eb84"; }
.pr-global-search:before { content: "\eb85"; }
.pr-radar-2:before { content: "\eb86"; }
.pr-global-edit:before { content: "\eb87"; }
.pr-arrow-square:before { content: "\eb88"; }
.pr-picture-frame:before { content: "\eb89"; }
.pr-radar:before { content: "\eb8a"; }
.pr-routing-2:before { content: "\eb8b"; }
.pr-arrow:before { content: "\eb8c"; }
.pr-route-square:before { content: "\eb8d"; }
.pr-trash:before { content: "\eb8e"; }
.pr-battery-full:before { content: "\eb8f"; }
.pr-battery-empty-2:before { content: "\eb90"; }
.pr-battery-empty:before { content: "\eb91"; }
.pr-battery-charging:before { content: "\eb92"; }
.pr-battery-disable:before { content: "\eb93"; }
.pr-home-3:before { content: "\eb94"; }
.pr-home-2:before { content: "\eb95"; }
.pr-tick-circle:before { content: "\eb96"; }
.pr-more-square:before { content: "\eb97"; }
.pr-info-circle:before { content: "\eb98"; }
.pr-danger:before { content: "\eb99"; }
.pr-add:before { content: "\eb9a"; }
.pr-more-circle:before { content: "\eb9b"; }
.pr-minus:before { content: "\eb9c"; }
.pr-add-circle:before { content: "\eb9d"; }
.pr-minus-cirlce:before { content: "\eb9e"; }
.pr-close-circle:before { content: "\eb9f"; }
.pr-minus-square:before { content: "\eba0"; }
.pr-tick-square:before { content: "\eba1"; }
.pr-flash-2:before { content: "\eba2"; }
.pr-flash-slash:before { content: "\eba3"; }
.pr-flash-circle-2:before { content: "\eba4"; }
.pr-close-square:before { content: "\eba5"; }
.pr-share:before { content: "\eba6"; }
.pr-cake:before { content: "\eba7"; }
.pr-chart:before { content: "\eba8"; }
.pr-archive-3:before { content: "\eba9"; }
.pr-chrome:before { content: "\ebaa"; }
.pr-instagram:before { content: "\ebab"; }
.pr-pet:before { content: "\ebac"; }
.pr-happyemoji:before { content: "\ebad"; }
.pr-reserve:before { content: "\ebae"; }
.pr-sticker:before { content: "\ebaf"; }
.pr-slash:before { content: "\ebb0"; }
.pr-computing:before { content: "\ebb1"; }
.pr-verify:before { content: "\ebb2"; }
.pr-coffee:before { content: "\ebb3"; }
.pr-tag-cross:before { content: "\ebb4"; }
.pr-crown:before { content: "\ebb5"; }
.pr-flag:before { content: "\ebb6"; }
.pr-flag-2:before { content: "\ebb7"; }
.pr-menu-2:before { content: "\ebb8"; }
.pr-emoji-happy:before { content: "\ebb9"; }
.pr-emoji-sad:before { content: "\ebba"; }
.pr-emoji-normal:before { content: "\ebbb"; }
.pr-crown-2:before { content: "\ebbc"; }
.pr-cup:before { content: "\ebbd"; }
.pr-information:before { content: "\ebbe"; }
.pr-glass-2:before { content: "\ebbf"; }
.pr-battery-23full:before { content: "\ebc0"; }
.pr-weight-2:before { content: "\ebc1"; }
.pr-discover-2:before { content: "\ebc2"; }
.pr-sound:before { content: "\ebc3"; }
.pr-add-square:before { content: "\ebc4"; }
.pr-sort:before { content: "\ebc5"; }
.pr-send-2:before { content: "\ebc6"; }
.pr-send-3:before { content: "\ebc7"; }
.pr-filter:before { content: "\ebc8"; }
.pr-3dcube:before { content: "\ebc9"; }
.pr-triangle-2:before { content: "\ebca"; }
.pr-autobrightness:before { content: "\ebcb"; }
.pr-filter-square:before { content: "\ebcc"; }
.pr-call-add:before { content: "\ebcd"; }
.pr-call-slash:before { content: "\ebce"; }
.pr-call-received:before { content: "\ebcf"; }
.pr-call-incoming:before { content: "\ebd0"; }
.pr-call-calling:before { content: "\ebd1"; }
.pr-call-outgoing:before { content: "\ebd2"; }
.pr-call-remove:before { content: "\ebd3"; }
.pr-call-minus:before { content: "\ebd4"; }
.pr-call:before { content: "\ebd5"; }
.pr-monitor:before { content: "\ebd6"; }
.pr-cpu-setting:before { content: "\ebd7"; }
.pr-monitor-mobbile:before { content: "\ebd8"; }
.pr-airpod:before { content: "\ebd9"; }
.pr-headphone:before { content: "\ebda"; }
.pr-cpu-charge:before { content: "\ebdb"; }
.pr-cpu:before { content: "\ebdc"; }
.pr-mouse:before { content: "\ebdd"; }
.pr-simcard-3:before { content: "\ebde"; }
.pr-ram-2:before { content: "\ebdf"; }
.pr-printer-slash:before { content: "\ebe0"; }
.pr-game:before { content: "\ebe1"; }
.pr-simcard-2:before { content: "\ebe2"; }
.pr-lamp:before { content: "\ebe3"; }
.pr-keyboard:before { content: "\ebe4"; }
.pr-printer:before { content: "\ebe5"; }
.pr-clock-2:before { content: "\ebe6"; }
.pr-weight:before { content: "\ebe7"; }
.pr-ram:before { content: "\ebe8"; }
.pr-timer-3:before { content: "\ebe9"; }
.pr-clock:before { content: "\ebea"; }
.pr-timer-start:before { content: "\ebeb"; }
.pr-timer-pause:before { content: "\ebec"; }
.pr-timer:before { content: "\ebed"; }
.pr-calendar-2:before { content: "\ebee"; }
.pr-archive-2:before { content: "\ebef"; }
.pr-archive-tick:before { content: "\ebf0"; }
.pr-archive-slash:before { content: "\ebf1"; }
.pr-archive-minus:before { content: "\ebf2"; }
.pr-archive-add:before { content: "\ebf3"; }
.pr-frame-sd44:before { content: "\ebf4"; }
.pr-grid-2:before { content: "\ebf5"; }
.pr-fatrows:before { content: "\ebf6"; }
.pr-grid-4:before { content: "\ebf7"; }
.pr-slider-horizontal:before { content: "\ebf8"; }
.pr-slider-vertical:before { content: "\ebf9"; }
.pr-grid-9:before { content: "\ebfa"; }
.pr-slider-vertical-9865:before { content: "\ebfb"; }
.pr-row-horizontal:before { content: "\ebfc"; }
.pr-slider-horizontal-123:before { content: "\ebfd"; }
.pr-grid-3:before { content: "\ebfe"; }
.pr-row-vertical:before { content: "\ebff"; }
.pr-grid-5:before { content: "\ec00"; }
.pr-grid-6:before { content: "\ec01"; }
.pr-grid-7:before { content: "\ec02"; }
.pr-grid-8:before { content: "\ec03"; }
.pr-element-2:before { content: "\ec04"; }
.pr-frame-ds5454:before { content: "\ec05"; }
.pr-element-3:before { content: "\ec06"; }
.pr-element-4:before { content: "\ec07"; }
.pr-element-plus:before { content: "\ec08"; }
.pr-grid-1:before { content: "\ec09"; }
.pr-3square:before { content: "\ec0a"; }
.pr-align-vertically:before { content: "\ec0b"; }
.pr-maximize-2:before { content: "\ec0c"; }
.pr-maximize-3:before { content: "\ec0d"; }
.pr-align-horizontally:before { content: "\ec0e"; }
.pr-frame-sadsad45646:before { content: "\ec0f"; }
.pr-maximize-4:before { content: "\ec10"; }
.pr-maximize-65211561:before { content: "\ec11"; }
.pr-element-equal:before { content: "\ec12"; }
.pr-align-bottom:before { content: "\ec13"; }
.pr-rotate-right-231654:before { content: "\ec14"; }
.pr-convertshape-2:before { content: "\ec15"; }
.pr-convertshape:before { content: "\ec16"; }
.pr-format-circle:before { content: "\ec17"; }
.pr-rotate-left-4654:before { content: "\ec18"; }
.pr-maximize-31651:before { content: "\ec19"; }
.pr-align-right:before { content: "\ec1a"; }
.pr-format-square:before { content: "\ec1b"; }
.pr-crop:before { content: "\ec1c"; }
.pr-align-left:before { content: "\ec1d"; }
.pr-box-64654:before { content: "\ec1e"; }
.pr-heart:before { content: "\ec1f"; }
.pr-star-2:before { content: "\ec20"; }
.pr-dislike:before { content: "\ec21"; }
.pr-star-slash:before { content: "\ec22"; }
.pr-like-2:before { content: "\ec23"; }
.pr-lamp-on:before { content: "\ec24"; }
.pr-notification-status:before { content: "\ec25"; }
.pr-notification-2:before { content: "\ec26"; }
.pr-notification-circle:before { content: "\ec27"; }
.pr-notification-favorite:before { content: "\ec28"; }
.pr-notification:before { content: "\ec29"; }
.pr-notification-bing:before { content: "\ec2a"; }
.pr-lamp-charge:before { content: "\ec2b"; }
.pr-lamp-slash:before { content: "\ec2c"; }
.pr-directbox-notif:before { content: "\ec2d"; }
.pr-directbox-receive:before { content: "\ec2e"; }
.pr-direct-normal:before { content: "\ec2f"; }
.pr-direct:before { content: "\ec30"; }
.pr-direct-notification:before { content: "\ec31"; }
.pr-direct-inbox:before { content: "\ec32"; }
.pr-direct-send:before { content: "\ec33"; }
.pr-message-65:before { content: "\ec34"; }
.pr-message-favorite:before { content: "\ec35"; }
.pr-message-notif:before { content: "\ec36"; }
.pr-message-text-12:before { content: "\ec37"; }
.pr-directbox-default:before { content: "\ec38"; }
.pr-directbox-send:before { content: "\ec39"; }
.pr-arrow-square-up:before { content: "\ec3a"; }
.pr-arrow-square-down:before { content: "\ec3b"; }
.pr-arrow-square-left:before { content: "\ec3c"; }
.pr-arrow-right:before { content: "\ec3d"; }
.pr-arrow-up:before { content: "\ec3e"; }
.pr-arrow-right-8732:before { content: "\ec3f"; }
.pr-arrow-bottom-87we:before { content: "\ec40"; }
.pr-arrow-up-sad45:before { content: "\ec41"; }
.pr-arrow-left:before { content: "\ec42"; }
.pr-arrow-down:before { content: "\ec43"; }
.pr-arrow-up-87541:before { content: "\ec44"; }
.pr-arrow-circle-right-2:before { content: "\ec45"; }
.pr-logout236454:before { content: "\ec46"; }
.pr-arrow-down-2:before { content: "\ec47"; }
.pr-arrow-left-2:before { content: "\ec48"; }
.pr-arrow-right-asdlkj:before { content: "\ec49"; }
.pr-arrow-left-28484sadsad:before { content: "\ec4a"; }
.pr-arrow-up-2-15:before { content: "\ec4b"; }
.pr-arrow-right-2-987:before { content: "\ec4c"; }
.pr-arrow-circle-left:before { content: "\ec4d"; }
.pr-arrow-down-98:before { content: "\ec4e"; }
.pr-arrow-circle-down:before { content: "\ec4f"; }
.pr-redo:before { content: "\ec50"; }
.pr-undo:before { content: "\ec51"; }
.pr-rotate-left:before { content: "\ec52"; }
.pr-rotate-right:before { content: "\ec53"; }
.pr-convert:before { content: "\ec54"; }
.pr-arrow-circle-up:before { content: "\ec55"; }
.pr-export:before { content: "\ec56"; }
.pr-logout-84:before { content: "\ec57"; }
.pr-refresh-87:before { content: "\ec58"; }
.pr-import-564564:before { content: "\ec59"; }
.pr-export-89787:before { content: "\ec5a"; }
.pr-export-897:before { content: "\ec5b"; }
.pr-login-24:before { content: "\ec5c"; }
.pr-import-84654:before { content: "\ec5d"; }
.pr-frame-564654:before { content: "\ec5e"; }
.pr-arrow-swap-horizontal:before { content: "\ec5f"; }
.pr-import-987654:before { content: "\ec60"; }
.pr-export-9879:before { content: "\ec61"; }
.pr-login-564:before { content: "\ec62"; }
.pr-refresh-2:before { content: "\ec63"; }
.pr-arrow-swap-3:before { content: "\ec64"; }
.pr-arrow-left-3:before { content: "\ec65"; }
.pr-arrow-square-right:before { content: "\ec66"; }
.pr-folder-add:before { content: "\ec67"; }
.pr-folder-cross:before { content: "\ec68"; }
.pr-folder:before { content: "\ec69"; }
.pr-folder-minus:before { content: "\ec6a"; }
.pr-folder-favorite:before { content: "\ec6b"; }
.pr-folder-2:before { content: "\ec6c"; }
.pr-bag-happy:before { content: "\ec6d"; }
.pr-bag:before { content: "\ec6e"; }
.pr-bag-tick:before { content: "\ec6f"; }
.pr-bag-cross:before { content: "\ec70"; }
.pr-bag-tick-2:before { content: "\ec71"; }
.pr-bag-timer:before { content: "\ec72"; }
.pr-bag-cross-7895:before { content: "\ec73"; }
.pr-bag-2:before { content: "\ec74"; }
.pr-shop-add:before { content: "\ec75"; }
.pr-shop:before { content: "\ec76"; }
.pr-more:before { content: "\ec77"; }
.pr-more-2:before { content: "\ec78"; }
.pr-category:before { content: "\ec79"; }
.pr-category-2:before { content: "\ec7a"; }
.pr-setting-3:before { content: "\ec7b"; }
.pr-setting-2:before { content: "\ec7c"; }
.pr-toggle-on:before { content: "\ec7d"; }
.pr-setting-4:before { content: "\ec7e"; }
.pr-setting:before { content: "\ec7f"; }
.pr-toggle-off:before { content: "\ec80"; }
.pr-setting-5:before { content: "\ec81"; }
.pr-toggle-off-circle:before { content: "\ec82"; }
.pr-toggle-on-circle:before { content: "\ec83"; }
.pr-record:before { content: "\ec84"; }
.pr-play-circle:before { content: "\ec85"; }
.pr-microphone:before { content: "\ec86"; }
.pr-volume-cross:before { content: "\ec87"; }
.pr-pause-circle:before { content: "\ec88"; }
.pr-pause:before { content: "\ec89"; }
.pr-volume-low:before { content: "\ec8a"; }
.pr-microphone-2:before { content: "\ec8b"; }
.pr-microphone-slash:before { content: "\ec8c"; }
.pr-volume-up:before { content: "\ec8d"; }
.pr-microphone-slash-987:before { content: "\ec8e"; }
.pr-video:before { content: "\ec8f"; }
.pr-volume-low-654:before { content: "\ec90"; }
.pr-volume-slash:before { content: "\ec91"; }
.pr-volume-mute:before { content: "\ec92"; }
.pr-gallery:before { content: "\ec93"; }
.pr-volume-high:before { content: "\ec94"; }
.pr-video-slash:before { content: "\ec95"; }
.pr-video-square:before { content: "\ec96"; }
.pr-video-circle:before { content: "\ec97"; }
.pr-gallery-tick:before { content: "\ec98"; }
.pr-gallery-favorite:before { content: "\ec99"; }
.pr-gallery-slash:before { content: "\ec9a"; }
.pr-gallery-import:before { content: "\ec9b"; }
.pr-gallery-export:before { content: "\ec9c"; }
.pr-image:before { content: "\ec9d"; }
.pr-gallery-add:before { content: "\ec9e"; }
.pr-gallery-remove:before { content: "\ec9f"; }
.pr-gallery-edit:before { content: "\eca0"; }
.pr-musicnote:before { content: "\eca1"; }
.pr-play:before { content: "\eca2"; }
.pr-screenmirroring:before { content: "\eca3"; }
.pr-camera:before { content: "\eca4"; }
.pr-camera-slash:before { content: "\eca5"; }
.pr-video-vertical:before { content: "\eca6"; }
.pr-record-circle:before { content: "\eca7"; }
.pr-video-play:before { content: "\eca8"; }
.pr-stop-circle:before { content: "\eca9"; }
.pr-subtitle:before { content: "\ecaa"; }
.pr-video-horizontal:before { content: "\ecab"; }
.pr-stop:before { content: "\ecac"; }
.pr-music:before { content: "\ecad"; }
.pr-building:before { content: "\ecae"; }
.pr-additem:before { content: "\ecaf"; }
.pr-brush-64654:before { content: "\ecb0"; }
.pr-brush-654:before { content: "\ecb1"; }
.pr-path:before { content: "\ecb2"; }
.pr-glass:before { content: "\ecb3"; }
.pr-ruler-pen:before { content: "\ecb4"; }
.pr-blend-2:before { content: "\ecb5"; }
.pr-shapes-2:before { content: "\ecb6"; }
.pr-size:before { content: "\ecb7"; }
.pr-blend:before { content: "\ecb8"; }
.pr-path-square:before { content: "\ecb9"; }
.pr-layer:before { content: "\ecba"; }
.pr-copy:before { content: "\ecbb"; }
.pr-recovery-convert:before { content: "\ecbc"; }
.pr-copy-success:before { content: "\ecbd"; }
.pr-designtools:before { content: "\ecbe"; }
.pr-brush-654654:before { content: "\ecbf"; }
.pr-ruler:before { content: "\ecc0"; }
.pr-magicpen:before { content: "\ecc1"; }
.pr-paintbucket:before { content: "\ecc2"; }
.pr-brush-2:before { content: "\ecc3"; }
.pr-path-2:before { content: "\ecc4"; }
.pr-lifebuoy:before { content: "\ecc5"; }
.pr-briefcase:before { content: "\ecc6"; }
.pr-brifecase-timer:before { content: "\ecc7"; }
.pr-bookmark:before { content: "\ecc8"; }
.pr-brifecase-cross:before { content: "\ecc9"; }
.pr-book:before { content: "\ecca"; }
.pr-award:before { content: "\eccb"; }
.pr-brifecase-tick:before { content: "\eccc"; }
.pr-bookmark-2:before { content: "\eccd"; }
.pr-calculator:before { content: "\ecce"; }
.pr-book-54:before { content: "\eccf"; }
.pr-clipboard:before { content: "\ecd0"; }
.pr-note:before { content: "\ecd1"; }
.pr-note-2:before { content: "\ecd2"; }
.pr-teacher:before { content: "\ecd3"; }
.pr-gift:before { content: "\ecd4"; }
.pr-paperclip:before { content: "\ecd5"; }
.pr-textalign-right:before { content: "\ecd6"; }
.pr-link:before { content: "\ecd7"; }
.pr-link-we547:before { content: "\ecd8"; }
.pr-text-bold:before { content: "\ecd9"; }
.pr-paperclip-2:before { content: "\ecda"; }
.pr-text-italic:before { content: "\ecdb"; }
.pr-textalign-justifyleft:before { content: "\ecdc"; }
.pr-pharagraphspacing:before { content: "\ecdd"; }
.pr-smallcaps:before { content: "\ecde"; }
.pr-textalign-justifyright:before { content: "\ecdf"; }
.pr-text:before { content: "\ece0"; }
.pr-link-2:before { content: "\ece1"; }
.pr-firstline:before { content: "\ece2"; }
.pr-textalign-center:before { content: "\ece3"; }
.pr-text-underline:before { content: "\ece4"; }
.pr-textalign-left:before { content: "\ece5"; }
.pr-textalign-justifycenter:before { content: "\ece6"; }
.pr-text-block:before { content: "\ece7"; }
.pr-hashtag:before { content: "\ece8"; }
.pr-scroll:before { content: "\ece9"; }
.pr-sidebar-top:before { content: "\ecea"; }
.pr-sidebar-right:before { content: "\eceb"; }
.pr-code:before { content: "\ecec"; }
.pr-code-2:before { content: "\eced"; }
.pr-hashtag-up:before { content: "\ecee"; }
.pr-hashtag-down:before { content: "\ecef"; }
.pr-sidebar-bottom:before { content: "\ecf0"; }
.pr-sidebar-left:before { content: "\ecf1"; }
.pr-car:before { content: "\ecf2"; }
.pr-airplane-square:before { content: "\ecf3"; }
.pr-airplane:before { content: "\ecf4"; }
.pr-shield-tick:before { content: "\ecf5"; }
.pr-frame-98797:before { content: "\ecf6"; }
.pr-eye:before { content: "\ecf7"; }
.pr-shield-slash:before { content: "\ecf8"; }
.pr-password-check:before { content: "\ecf9"; }
.pr-key-square:before { content: "\ecfa"; }
.pr-eye-slash:before { content: "\ecfb"; }
.pr-shield-cross:before { content: "\ecfc"; }
.pr-key:before { content: "\ecfd"; }
.pr-check:before { content: "\ecfe"; }
.pr-lock-slash:before { content: "\ecff"; }
.pr-frame-546:before { content: "\ed00"; }
.pr-shield-search:before { content: "\ed01"; }
.pr-scan:before { content: "\ed02"; }
.pr-lock-3:before { content: "\ed03"; }
.pr-scanning:before { content: "\ed04"; }
.pr-unlock:before { content: "\ed05"; }
.pr-scan-barcode:before { content: "\ed06"; }
.pr-search-favorite:before { content: "\ed07"; }
.pr-search-zoom-in:before { content: "\ed08"; }
.pr-search-normal:before { content: "\ed09"; }
.pr-search-zoom-out:before { content: "\ed0a"; }
.pr-search-zoom-in-2:before { content: "\ed0b"; }
.pr-search-zoom-out-2:before { content: "\ed0c"; }
.pr-search-normal-2:before { content: "\ed0d"; }
.pr-search-status:before { content: "\ed0e"; }
.pr-search-status1:before { content: "\ed0f"; }
.pr-search-favorite-2:before { content: "\ed10"; }
.pr-coin-65:before { content: "\ed11"; }
.pr-document:before { content: "\ed12"; }
.pr-receipt-disscount:before { content: "\ed13"; }
.pr-receipt-254:before { content: "\ed14"; }
.pr-ticket-discount:before { content: "\ed15"; }
.pr-wallet-254564:before { content: "\ed16"; }
.pr-math:before { content: "\ed17"; }
.pr-ticket-expired:before { content: "\ed18"; }
.pr-card-remove-2:before { content: "\ed19"; }
.pr-ticket-2:before { content: "\ed1a"; }
.pr-ticket:before { content: "\ed1b"; }
.pr-ticket-star:before { content: "\ed1c"; }
.pr-frame:before { content: "\ed1d"; }
.pr-card-pos:before { content: "\ed1e"; }
.pr-card-tick-23:before { content: "\ed1f"; }
.pr-card-send:before { content: "\ed20"; }
.pr-card:before { content: "\ed21"; }
.pr-tag:before { content: "\ed22"; }
.pr-wallet-minus:before { content: "\ed23"; }
.pr-dollar-square:before { content: "\ed24"; }
.pr-wallet-add-5:before { content: "\ed25"; }
.pr-card-add:before { content: "\ed26"; }
.pr-receipt-87:before { content: "\ed27"; }
.pr-card-slash:before { content: "\ed28"; }
.pr-card-edit:before { content: "\ed29"; }
.pr-card-receive:before { content: "\ed2a"; }
.pr-tag-2:before { content: "\ed2b"; }
.pr-man:before { content: "\ed2c"; }
.pr-woman:before { content: "\ed2d"; }
.pr-profile-remove:before { content: "\ed2e"; }
.pr-profile-delete:before { content: "\ed2f"; }
.pr-profile-circle:before { content: "\ed30"; }
.pr-frame-654:before { content: "\ed31"; }
.pr-profile-add:before { content: "\ed32"; }
.pr-profile-tick:before { content: "\ed33"; }
.pr-profile-2user:before { content: "\ed34"; }
.pr-trend-up:before { content: "\ed35"; }
.pr-hashtag-2:before { content: "\ed36"; }
.pr-chart-4:before { content: "\ed37"; }
.pr-home-trend-down:before { content: "\ed38"; }
.pr-home-trend-up:before { content: "\ed39"; }
.pr-health:before { content: "\ed3a"; }
.pr-chart-fail:before { content: "\ed3b"; }
.pr-status-up:before { content: "\ed3c"; }
.pr-chart-3:before { content: "\ed3d"; }
.pr-chart-2:before { content: "\ed3e"; }
.pr-personalcard:before { content: "\ed3f"; }
.pr-favorite-chart:before { content: "\ed40"; }
.pr-trend-down:before { content: "\ed41"; }
.pr-activity:before { content: "\ed42"; }
.pr-home-hashtag:before { content: "\ed43"; }
.pr-graph:before { content: "\ed44"; }
.pr-chart-success:before { content: "\ed45"; }
.pr-note-add:before { content: "\ed46"; }
.pr-document-forward:before { content: "\ed47"; }
.pr-document-previous:before { content: "\ed48"; }
.pr-document-normal:before { content: "\ed49"; }
.pr-clipboard-text:before { content: "\ed4a"; }
.pr-clipboard-export:before { content: "\ed4b"; }
.pr-clipboard-import:before { content: "\ed4c"; }
.pr-task:before { content: "\ed4d"; }
.pr-note-4:before { content: "\ed4e"; }
.pr-note-remove:before { content: "\ed4f"; }
.pr-edit-2:before { content: "\ed50"; }
.pr-document-sketch:before { content: "\ed51"; }
.pr-document-upload:before { content: "\ed52"; }
.pr-edit:before { content: "\ed53"; }
.pr-task-square:before { content: "\ed54"; }
.pr-clipboard-tick:before { content: "\ed55"; }
.pr-document-copy:before { content: "\ed56"; }
.pr-document-text:before { content: "\ed57"; }
.pr-document-favorite:before { content: "\ed58"; }
.pr-document-download:before { content: "\ed59"; }
.pr-document-2:before { content: "\ed5a"; }
.pr-note-3:before { content: "\ed5b"; }
.pr-clipboard-close:before { content: "\ed5c"; }
.pr-stickynote:before { content: "\ed5d"; }
.pr-document-text-2:before { content: "\ed5e"; }
.pr-document-like-2:before { content: "\ed5f"; }
.pr-cloud-drizzle:before { content: "\ed60"; }
.pr-cloud-snow:before { content: "\ed61"; }
.pr-cloud-lightning:before { content: "\ed62"; }
.pr-cloud-minus:before { content: "\ed63"; }
.pr-cloud-cross:before { content: "\ed64"; }
.pr-cloud:before { content: "\ed65"; }
.pr-sun-7845:before { content: "\ed66"; }
.pr-cloud-sunny:before { content: "\ed67"; }
.pr-cloud-plus:before { content: "\ed68"; }
.pr-moon:before { content: "\ed69"; }
.pr-cloud-notif:before { content: "\ed6a"; }
.pr-direct-left:before { content: "\ed6b"; }
.pr-location-slash:before { content: "\ed6c"; }
.pr-direct-down:before { content: "\ed6d"; }
.pr-direct-up:before { content: "\ed6e"; }
.pr-map-594564:before { content: "\ed6f"; }
.pr-location-minus:before { content: "\ed70"; }
.pr-gps:before { content: "\ed71"; }
.pr-direct-right:before { content: "\ed72"; }
.pr-gps-slash:before { content: "\ed73"; }
.pr-discover:before { content: "\ed74"; }
.pr-location-add:before { content: "\ed75"; }
.pr-location:before { content: "\ed76"; }
.pr-location-tick:before { content: "\ed77"; }
.pr-global:before { content: "\ed78"; }
.pr-location-cross:before { content: "\ed79"; }
.pr-global-refresh:before { content: "\ed7a"; }
.pr-routing:before { content: "\ed7b"; }
.pr-ankr-ankr:before { content: "\ed7c"; }
.pr-civic-cvc:before { content: "\ed7d"; }
.pr-ethereum-eth:before { content: "\ed7e"; }
.pr-wanchain-wan:before { content: "\ed7f"; }
.pr-binance-coin-bnb:before { content: "\ed80"; }
.pr-wing-wing:before { content: "\ed81"; }
.pr-tether-usdt:before { content: "\ed82"; }
.pr-educare-ekt:before { content: "\ed83"; }
.pr-cardano-ada:before { content: "\ed84"; }
.pr-polyswarm-nct:before { content: "\ed85"; }
.pr-binance-usd-busd:before { content: "\ed86"; }
.pr-html-5:before { content: "\ed87"; }
.pr-chainlink-link:before { content: "\ed88"; }
.pr-apple:before { content: "\ed89"; }
.pr-eos-eos:before { content: "\ed8a"; }
.pr-ui8:before { content: "\ed8b"; }
.pr-solana-sol:before { content: "\ed8c"; }
.pr-slack:before { content: "\ed8d"; }
.pr-ftx-token-ftt:before { content: "\ed8e"; }
.pr-dropbox:before { content: "\ed8f"; }
.pr-xrp-xrp:before { content: "\ed90"; }
.pr-js:before { content: "\ed91"; }
.pr-trontron-trx:before { content: "\ed92"; }
.pr-okb-okb:before { content: "\ed93"; }
.pr-youtube:before { content: "\ed94"; }
.pr-bootstrap:before { content: "\ed95"; }
.pr-huobi-token-ht:before { content: "\ed96"; }
.pr-polkadot-dot:before { content: "\ed97"; }
.pr-whatsapp:before { content: "\ed98"; }
.pr-triangle:before { content: "\ed99"; }
.pr-thorchain-rune:before { content: "\ed9a"; }
.pr-polygon-matic:before { content: "\ed9b"; }
.pr-windows:before { content: "\ed9c"; }
.pr-android:before { content: "\ed9d"; }
.pr-ethereum-classic-etc:before { content: "\ed9e"; }
.pr-hex-hex:before { content: "\ed9f"; }
.pr-vuesax:before { content: "\eda0"; }
.pr-velas-vlx:before { content: "\eda1"; }
.pr-paypal:before { content: "\eda2"; }
.pr-stellar-xlm:before { content: "\eda3"; }
.pr-framer:before { content: "\eda4"; }
.pr-nem-xem:before { content: "\eda5"; }
.pr-google-drive:before { content: "\eda6"; }
.pr-dash-dash:before { content: "\eda7"; }
.pr-be:before { content: "\eda8"; }
.pr-nexo-nexo:before { content: "\eda9"; }
.pr-messenger:before { content: "\edaa"; }
.pr-decred-dcr:before { content: "\edab"; }
.pr-figma-35:before { content: "\edac"; }
.pr-ontology-ont:before { content: "\edad"; }
.pr-google-play:before { content: "\edae"; }
.pr-icon-icx:before { content: "\edaf"; }
.pr-google:before { content: "\edb0"; }
.pr-celo-celo:before { content: "\edb1"; }
.pr-twitch:before { content: "\edb2"; }
.pr-iost-iost:before { content: "\edb3"; }
.pr-python:before { content: "\edb4"; }
.pr-siacoin-sc:before { content: "\edb5"; }
.pr-bitcoin-btc:before { content: "\edb6"; }
.pr-ocean-protocol-ocean:before { content: "\edb7"; }
.pr-monero-xmr:before { content: "\edb8"; }
.pr-kyber-network-knc:before { content: "\edb9"; }
.pr-the-graph-grt:before { content: "\edba"; }
.pr-quant-qnt:before { content: "\edbb"; }
.pr-celsius-cel:before { content: "\edbc"; }
.pr-wanchain-wan78:before { content: "\edbd"; }
.pr-snapchat:before { content: "\edbe"; }
.pr-spotify:before { content: "\edbf"; }
.pr-zoom:before { content: "\edc0"; }
.pr-enjin-coin-enj:before { content: "\edc1"; }
.pr-augur-rep:before { content: "\edc2"; }
.pr-dent-dent:before { content: "\edc3"; }
.pr-litecoin-ltc:before { content: "\edc4"; }
.pr-nebulas-nas:before { content: "\edc5"; }
.pr-tenx-pay:before { content: "\edc6"; }
.pr-zel-zel:before { content: "\edc7"; }
.pr-xiaomi:before { content: "\edc8"; }
.pr-dribbble:before { content: "\edc9"; }
.pr-figma-89:before { content: "\edca"; }
.pr-usd-coin-usdc:before { content: "\edcb"; }
.pr-stacks-stx:before { content: "\edcc"; }
.pr-aave-aave:before { content: "\edcd"; }
.pr-hedera-hashgraph-hbar:before { content: "\edce"; }
.pr-dai-dai:before { content: "\edcf"; }
.pr-maker-mkr:before { content: "\edd0"; }
.pr-avalanche-avax:before { content: "\edd1"; }
.pr-vibe-vibe:before { content: "\edd2"; }
.pr-emercoin-emc:before { content: "\edd3"; }
.pr-autonio-niox:before { content: "\edd4"; }
.pr-theta-theta:before { content: "\edd5"; }
.pr-facebook:before { content: "\edd6"; }
.pr-xd:before { content: "\edd7"; }
.pr-group:before { content: "\edd8"; }
.pr-photoshop:before { content: "\edd9"; }
.pr-blogger:before { content: "\edda"; }
.pr-illustrator:before { content: "\eddb"; }
.pr-trello:before { content: "\eddc"; }
.pr-harmony-one:before { content: "\eddd"; }
.pr-javascript:before { content: "\edde"; }
.pr-html-3:before { content: "\eddf"; }
.pr-icon:before { content: "\ede0"; }
.pr-pen-tool:before { content: "\ede1"; }
.pr-scissor-as45:before { content: "\ede2"; }
.pr-color-swatch:before { content: "\ede3"; }
.pr-bucket:before { content: "\ede4"; }
